@font-face {
    font-family: Pigmento;
    src: url(font/pigment\ DEMO.otf);
}

body {
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
    font-family: Pigmento, sans-serif;
    font-size: 30px;
}

* {
    box-sizing: border-box;
}

button {
    font-family: Pigmento, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    border: none;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}

button:disabled {
    background-color: darkgrey;
}

.header {
    text-align: center;
}

.header>h1 {
    margin: 20px;
}

.header>p {
    margin: 20px;
}

.header>button {
    margin: 0 auto;
}

.hangman-section {
    text-align: center;
    float: left;
    width: 40%;
    padding: 20px;
}

.guess-section {
    float: left;
    padding: 20px;
    width: 60%;
    text-align: center;
}

.guess-section>div>p {
    font-size: 40px;
    display: inline;
}

.section::after {
    content: "";
    display: table;
    clear: both;
}

.letters-grid {
    padding: 10px;
    text-align: center;
}

.letters-grid>button {
    width: 70px;
    height: 70px;
}